/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cactus+Classical+Serif&family=Calistoga&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cactus+Classical+Serif&family=Calistoga&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cactus+Classical+Serif&family=Calistoga&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosarivo:ital@0;1&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cactus+Classical+Serif&family=Calistoga&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosarivo:ital@0;1&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cactus+Classical+Serif&family=Calistoga&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosarivo:ital@0;1&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* tags gerais (html, body, *) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
}

body {
    background-color: #000;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* scroll */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #383838;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
}

/* root */
:root {
    --fontRaleway: "Raleway", sans-serif;
    --fontInter: "Inter", sans-serif;
    --fontOswald: "Oswald", sans-serif;
    --fontPoppins: "Poppins", sans-serif;
    --fontRosarivo: "Rosarivo", sans-serif;
    --cinzaEscuro: #626262;
    --cinzaClaro: #727473;
}

/* estilos gerais */
.link-all {
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-family: var(--fontInter);

    &:hover {
        color: #ffffffe1;
    }

    svg path {
        opacity: 0;
        transform: translateX(-10px);
        transition: 0.2s ease-in-out;
    }
}

.link-all:hover svg path {
    opacity: 1;
    transform: translate(0);
}



/* header */
header {
    .header {
        background-color: #000;
        width: 100vw;
        height: 12vh;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #fff;

        .header-content {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #000;
            width: 80%;
            height: 100%;
            gap: 10px;
            font-family: var(--fontRaleway);

            .header-logo {
                img {
                    cursor: pointer;
                }
            }

            .nav-links ul {
                display: flex;
                gap: 50px;
                list-style: none;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    position: relative;

                    &:hover {
                        color: #ffffffd8;
                    }

                    &:before {
                        content: "";
                        width: 0;
                        height: 1.5px;
                        position: absolute;
                        top: 22px;
                        background: #fff;
                        transform: translateX(0%);
                        transition: width 0.2s ease-in-out;
                    }

                    &:hover::before {
                        width: 100%;
                        transform: translateX(0);
                    }
                }
            }

            .nav-button {
                .btn-contato {
                    padding: 12px 50px;
                    background: #000;
                    border: 2px solid #fff;
                    border-radius: 50px;
                    cursor: pointer;
                    position: relative;

                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 18px;
                    }

                    /*&::before {
                        content: "";
                        width: 100px;
                        height: 80px;
                        background: #6b6b6b83;
                        filter: blur(50px);
                        box-shadow: 0 0 10px #6B6B6B;
                        border-radius: 50px;
                        position: absolute;
                        top: -100px;
                        left: 35px;
                    }*/

                    &:hover {
                        background: linear-gradient(140deg, #000 0%, #000 20%, #000 30%, #fdfdfd31 50%, #000 60%, #000 100%);
                        background-size: 300% 300%;
                        animation: btn-animateColor 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}

/* home */
.home {
    width: 100vw;
    height: auto;
    min-height: 88vh;
    display: flex;
    justify-content: center;

    .home-content {
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        position: relative;

        .nome-skill {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;

            .nome {
                font-size: 11.3rem;
                font-family: var(--fontOswald);
                text-transform: uppercase;
                line-height: 200px;
                margin-top: 50px;
                max-width: 200px;
            }

            .skill {
                display: flex;
                align-items: center;
                gap: 20px;
                font-family: var(--fontRosarivo);

                h3 {
                    font-size: 1.92rem;
                    font-weight: lighter;
                    text-transform: uppercase;
                    margin-top: 7px;
                }

                svg {
                    animation: rotate 12s linear infinite;
                }
            }
        }

        .image-andre {
            position: absolute;
            top: 0;
            left: 47%;
            transform: translate(-50%, 0%);

            img {
                width: 180%;
                filter: grayscale(0.8);
                user-select: none;
                pointer-events: none;
            }
        }

        .p-home {
            margin-top: 200px;

            p {
                font-size: 1.7rem;
                text-align: center;
                font-family: var(--fontRosarivo);
                font-weight: lighter;
                max-width: 500px;
                word-wrap: break-word;
            }
        }
    }

    .formulario {
        background-color: transparent;
        backdrop-filter: blur(10px);
        border: 1px solid #ffffff17;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: fixed;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        border-radius: 10px;
        z-index: 11;
        transition: 0.3s ease-in-out;

        ::selection {
            background-color: #ffffff0c;
            color: #dbdbdb;
        }

        input,
        textarea {
            background-color: transparent;
            color: #ffffffe7;
            border-radius: 10px;
            border: 1px solid #dbdbdb3f;
            padding-left: 10px;
            outline: none;
            font-family: var(--fontInter);
        }

        input {
            height: 40px;
        }

        textarea {
            width: 270px;
            height: 100px;
            padding: 10px;
        }

        button {
            background-color: #0000003f;
            border: 1px solid #242424;
            border-radius: 10px;
            cursor: pointer;
            color: #fff;
            padding: 10px;
            font-family: var(--fontInter);
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s ease-in-out;

            svg path {
                transform: translateX(-10px);
                opacity: 0;
                transition: 0.2s ease-in-out;
            }

            &:hover {
                background-color: #000000;
                border-color: #000;
            }
        }

        button:hover svg path {
            transform: translateX(3px);
            opacity: 1;
        }
    }
}

/* serviços */
.servicos {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;

    .serv-blur {
        width: 250px;
        height: 250px;
        background: #6b6b6b8c;
        filter: blur(150px);
        box-shadow: 0 0 10px #6B6B6B;
        border-radius: 50%;
        position: absolute;
        top: -20%;
        right: -15%;
    }

    .serv-content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 0;
        position: relative;

        .serv-title {
            h2 {
                font-size: 2.8rem;
                font-family: var(--fontPoppins);
                position: relative;
                text-transform: uppercase;
                gap: 20px;

                span {
                    position: relative;
                }

                span::before {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: #626262;
                    position: absolute;
                    bottom: 5px;
                }
            }
        }

        .serv-box {
            display: flex;
            align-items: center;
            gap: 50px;
            margin-top: 80px;
            flex-wrap: wrap;

            .box {
                border: 1px solid #8C8C8C;
                border-radius: 25px;
                padding: 50px 30px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                max-width: 400px;
                position: relative;
                overflow: hidden;
                transition: transform 0.2s ease-in-out;

                &:hover {
                    background: #7c7c7c07;
                    transform: scale(1.02);
                }

                .box-blur {
                    width: 100px;
                    height: 100px;
                    background: #6b6b6b8c;
                    filter: blur(200px);
                    box-shadow: 0 0 10px #6B6B6B;
                    border-radius: 50%;
                    position: absolute;
                    top: 30px;
                    right: 20px;
                    z-index: 1;
                }

                .box-top {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    svg {
                        background-color: #fff;
                        padding: 10px;
                        border-radius: 50px;
                    }

                    h3 {
                        font-size: 1.8rem;
                        font-family: var(--fontPoppins);
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }

                .box-line {
                    width: 120px;
                    height: 2px;
                    background-color: #626262;
                }

                p {
                    font-family: var(--fontInter);
                    font-size: 1.3rem;
                    color: #a4a4a4b9;
                    font-weight: 400;

                    strong {
                        font-weight: 600;
                    }
                }
            }
        }

        .serv-link {
            font-size: 1.3rem;
            font-family: var(--fontInter);

            a {
                display: flex;
                align-items: center;
                margin-top: 70px;
                text-decoration: underline;

                &:hover {
                    color: #ffffffe1;
                }

                svg path {
                    opacity: 0;
                    transform: translateX(-10px);
                    transition: 0.2s ease-in-out;
                }
            }

            a:hover svg path {
                opacity: 1;
                transform: translate(0);
            }
        }
    }

    .divisor {
        img {
            position: absolute;
            bottom: -149px;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 1920px;
        }
    }
}

/* sobre */
.sobre {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;

    .sobre-content {
        width: 95%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 120px 0 50px 0;
        padding: 50px;
        gap: 50px;

        .sobre-img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                min-width: 500px;
            }
        }

        .sobre-txt {
            display: flex;
            flex-direction: column;
            gap: 30px;
            text-align: center;

            h2 {
                color: #030104;
                text-transform: uppercase;
                font-size: 2.8rem;
            }

            h3 i {
                color: #030104ce;
                font-size: 2rem;
                box-shadow: 0 10px 10px #0000001a;
                border-radius: 50px;
                padding: 0 15px;
            }

            h2,
            h3 i {
                font-family: var(--fontPoppins);
                font-weight: 800;
            }

            p,
            strong,
            b,
            i {
                color: #000000c2;
                font-family: var(--fontInter);
                font-size: 1.3rem;
                min-width: 50%;
            }
        }
    }
}

/* projetos */
.marcas {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .marcas-content {
        width: 90%;
        height: 100%;
        padding: 150px 0;
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 100px;
        position: relative;

        .marcas-info {
            .m-sticky {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap: 20px;
                text-align: center;

                h2 {
                    font-size: 2.8rem;
                    font-family: var(--fontPoppins);
                    text-transform: uppercase;
                    max-width: 350px;
                    line-height: 60px;
                    position: relative;


                    img {
                        position: absolute;
                        top: 0;
                        right: -30px;
                        z-index: -1;
                        opacity: 25%;
                        width: 120px;
                    }
                }

                p {
                    font-size: 1.3rem;
                    max-width: 500px;
                    color: #fdfdfdb9;
                }

                p,
                a {
                    font-family: var(--fontInter);
                }

                a {
                    color: #fff;
                    background: #000;
                    border: 2px solid #fff;
                    border-radius: 50px;
                    padding: 12px 30px;
                    font-size: 1.2rem;
                    margin-top: 30px;
                    cursor: pointer;
                    font-weight: 600;
                    transition: 0.2s ease;

                    &:hover {
                        color: #000;
                        background: #fff;
                    }
                }
            }
        }

        .projetos {
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-left: 1px solid #ffffff85;
            padding-left: 40px;

            .all-projects {
                display: flex;
                align-items: center;
                gap: 30px;

                .all-project-info {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                img {
                    border-radius: 10px;
                    user-select: none;
                    pointer-events: none;
                }

                h3 {
                    font-size: 2.3rem;
                    font-family: var(--fontInter);
                    font-weight: bold;
                }

                a,
                i {
                    font-size: 1.3rem;
                    color: #ffffffd3;

                    &:hover {
                        color: #ffffffb9;
                    }
                }
            }

            .granulato-info {
                h3 {
                    color: #E6C6CE;
                }
            }

            .natus-info {
                h3 {
                    color: #FFCFA8;
                }
            }

            .wepudim-info {
                h3 {
                    color: #F1A479;
                }
            }

            .casacrista-info {
                h3 {
                    color: #F3F4FA;
                }
            }

            .besucree-info {
                h3 {
                    color: #C59D8E;
                }
            }
        }
    }

    .detalhes-marcas {
        width: 100vw;
        height: auto;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: -1;
        transition: 0.3s ease-in-out;

        .detalhes-content {
            width: 73%;
            height: 100%;
            border-radius: 50px;
            position: fixed;
            z-index: 99;
            top: 0;
            left: 50%;
            transform: translate(-200%, 4%);
            transition: 0.3s ease-in-out;

            .content {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                border: 1px solid #ffff;
                padding: 50px;
                border-radius: 30px;
                position: relative;
                backdrop-filter: blur(25px);

                .btn-fechar {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 20px;

                    button {
                        border: none;
                        background: #ff0000;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        &:hover {
                            background-color: #ff3030;
                        }
                    }
                }

                .img {
                    border-radius: 30px;
                    transition: 0.2s ease-in-out;
                    width: 100%;

                    &:hover {
                        transform: scale(1.01);
                    }
                }

                .main-img,
                .box-images {
                    border-radius: 30px;
                    box-shadow: 4px 4px 10px #020202;
                }

                .main-img {
                    width: auto;
                    height: auto;
                }

                .box-images {
                    width: auto;
                    height: auto;
                }

                .variables-img {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 15px;
                }
            }
        }
    }
}

/* avaliações */
.avaliacoes {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img/background-avaliacoes.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .gradient {
        position: absolute;
        width: 100%;
        height: 15vh;
        background: linear-gradient(180deg, #000000 0%, #00000000 100%);
    }

    .gradient-top {
        top: 0;
    }

    .gradient-bottom {
        bottom: 0;
        background: linear-gradient(360deg, #000000 0%, #00000000 100%);
    }

    .avalia-content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        font-family: var(--fontInter);
        z-index: 2;
        padding: 100px 0;

        .title {
            h3 {
                font-size: 3rem;
                font-weight: 800;
            }
        }

        .avalia-boxes {
            display: flex;
            align-items: center;
            gap: 30px;
            flex-wrap: wrap;

            .box {
                max-width: 400px;
                border: 1px solid #5e5e5e9c;
                padding: 15px 20px 30px 20px;
                display: flex;
                flex-direction: column;
                gap: 45px;
                border-radius: 25px;
                background: #d9d9d905;
                backdrop-filter: blur(10px);
                transition: 0.2s ease;
                overflow: hidden;

                &:hover {
                    transform: scale(1.02);
                }

                &:hover .info-top img {
                    filter: saturate(100%);
                }

                .info-top {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    img {
                        width: 100px;
                        filter: saturate(0);
                        transition: 0.5s ease;
                    }

                    h4 {
                        font-size: 1.4rem;
                    }

                    h5 {
                        font-size: 1.1rem;
                        font-weight: 400;
                        color: #ffffffa6;
                    }
                }

                .frase {
                    position: relative;

                    .aspas {
                        position: absolute;
                        bottom: -5px;
                        left: -10px;
                        pointer-events: none;
                        user-select: none;

                        span {
                            font-family: "Playfair Display", serif;
                            font-size: 10rem;
                            color: #ffffff18;
                        }
                    }

                    p {
                        color: #ffffffa8;
                        font-size: 1rem;
                        line-height: 25px;
                        margin: 0 10px;
                        z-index: 2;
                    }
                }
            }
        }

        .btn-contato {
            a {
                padding: 12px 30px;
                cursor: pointer;
                border-radius: 50px;
                border: 2px solid #fff;
                background: #00000046;
                font-family: var(--fontInter);
                font-size: 1.2rem;
                text-transform: uppercase;
                font-weight: 600;
                transition: 0.2s ease;

                &:hover {
                    background: #000;
                }
            }
        }
    }
}

/* mask */
.mask {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.979) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 10;
}

/* whatsapp */
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    background: #000;
    border-radius: 50px;
    padding: 15px;
    box-shadow: 0 0 0px 1px #ffffff1f;
    cursor: pointer;

    svg path {
        transition: 0.5s ease;
    }

    &:hover {
        background: #fff;
        box-shadow: 0 0 0px 1px #00000038;
    }

    &:hover svg path {
        fill: #000;
    }
}

/* keyframes */
@keyframes btn-animateColor {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* responsividade */
@media (max-width: 1740px) {
    .home {
        .home-content {
            flex-direction: column;
            justify-content: space-around;

            .nome-skill {
                gap: 10px;
            }

            .image-andre {
                left: 65%;
            }

            .p-home {
                margin-top: 80px;

                p {
                    font-size: 1.4rem;
                    text-align: start;
                }
            }
        }
    }
}

@media (max-width: 1445px) {
    .sobre {
        .sobre-content {
            flex-wrap: wrap-reverse;

            .sobre-img {
                img {
                    width: 50%;
                }
            }
        }
    }
}

@media (max-width: 1190px) {
    .home {
        border-bottom: 1px dashed #ffffff1a;

        .home-content {
            align-items: center;
            text-align: center;


            .nome-skill {
                align-items: center;

                .nome {
                    font-size: 8.5rem;
                    line-height: 180px;
                    text-align: center;
                    max-width: 500px;
                }

                .skill {
                    h3 {
                        font-size: 1.7rem;
                    }

                    svg {
                        width: 32px;
                    }
                }
            }

            .image-andre {
                display: none;
            }

            .p-home {
                p {
                    text-align: center;
                }

                p,
                strong {
                    color: #ffffffd5;
                }
            }
        }
    }

    .whatsapp {
        svg {
            width: 40px;
        }
    }
}

@media (max-width: 1010px) {
    header {
        .header-content {
            justify-content: space-between !important;
            width: 100%;

            .nav-list {
                display: none;
            }
        }
    }
}

@media (max-width: 875px) {
    .marcas {
        .marcas-content {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 520px) {
    .home {
        .home-content {
            .nome-skill {
                .nome {
                    font-size: 6rem;
                    line-height: 120px;
                }

                .skill {
                    gap: 10px;

                    h3 {
                        font-size: 1.5rem;
                    }

                    svg {
                        width: 30px;
                    }
                }
            }

            .p-home {
                margin-top: 60px;
            }
        }
    }

    .marcas {
        .marcas-content {
            .projetos {
                padding-left: 10px;

                img {
                    width: 200px;
                }
            }
        }

        .detalhes-marcas {
            .detalhes-content {
                .content {
                    flex-wrap: wrap;
                }
            }
        }
    }

    .whatsapp {
        svg {
            width: 35px;
        }
    }
}

@media (max-width: 425px) {
    .marcas {
        .marcas-content {
            .projetos {
                img {
                    width: 150px;
                }

                .all-projects {
                    h3 {
                        font-size: 1.9rem;
                    }
                }
            }
        }
    }
}