/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cactus+Classical+Serif&family=Calistoga&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cactus+Classical+Serif&family=Calistoga&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cactus+Classical+Serif&family=Calistoga&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosarivo:ital@0;1&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cactus+Classical+Serif&family=Calistoga&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosarivo:ital@0;1&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cactus+Classical+Serif&family=Calistoga&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosarivo:ital@0;1&family=Staatliches&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* tags gerais (html, body, *) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #000;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* scroll */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #383838;
}

::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 50px;
}

/* root */
:root {
    --fontRaleway: "Raleway", sans-serif;
    --fontInter: "Inter", sans-serif;
    --fontOswald: "Oswald", sans-serif;
    --fontPoppins: "Poppins", sans-serif;
    --fontRosarivo: "Rosarivo", sans-serif;
    --cinzaEscuro: #626262;
    --cinzaClaro: #727473;
}

/* header */
header {
    .header {
        background-color: #000;
        width: 100vw;
        height: 12vh;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #fff;

        .header-content {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #000;
            width: 80%;
            height: 100%;
            gap: 10px;
            font-family: var(--fontRaleway);

            .header-logo {
                img {
                    cursor: pointer;
                }
            }

            .nav-links ul {
                display: flex;
                gap: 50px;
                list-style: none;

                a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    position: relative;

                    &:hover {
                        color: #ffffffd8;
                    }

                    &:before {
                        content: "";
                        width: 0;
                        height: 1.5px;
                        position: absolute;
                        top: 22px;
                        background: #fff;
                        transform: translateX(0%);
                        transition: width 0.2s ease-in-out;
                    }

                    &:hover::before {
                        width: 100%;
                        transform: translateX(0);
                    }
                }
            }

            .nav-button {
                .btn-contato {
                    padding: 12px 50px;
                    background: #000;
                    border: 2px solid #fff;
                    border-radius: 50px;
                    cursor: pointer;
                    position: relative;

                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 18px;
                    }

                    /*&::before {
                        content: "";
                        width: 100px;
                        height: 80px;
                        background: #6b6b6b83;
                        filter: blur(50px);
                        box-shadow: 0 0 10px #6B6B6B;
                        border-radius: 50px;
                        position: absolute;
                        top: -100px;
                        left: 35px;
                    }*/

                    &:hover {
                        background: linear-gradient(140deg, #000 0%, #000 20%, #000 30%, #fdfdfd31 50%, #000 60%, #000 100%);
                        background-size: 300% 300%;
                        animation: btn-animateColor 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}

/* home */
.home {
    width: 100vw;
    height: auto;
    min-height: 88vh;
    display: flex;
    justify-content: center;

    .home-content {
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        position: relative;

        .nome-skill {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 50px;

            .nome {
                font-size: 11.3rem;
                font-family: var(--fontOswald);
                text-transform: uppercase;
                line-height: 200px;
                margin-top: 50px;
                max-width: 200px;
            }

            .skill {
                display: flex;
                align-items: center;
                gap: 20px;
                font-family: var(--fontRosarivo);

                h3 {
                    font-size: 1.92rem;
                    font-weight: lighter;
                    text-transform: uppercase;
                    margin-top: 7px;
                }

                svg {
                    animation: rotate 12s linear infinite;
                }
            }
        }

        .image-andre {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);

            img {
                width: 684.5px;
                filter: grayscale(0.8);
                user-select: none;
                pointer-events: none;
            }
        }

        .p-home {
            margin-top: 200px;

            p {
                font-size: 1.7rem;
                text-align: center;
                font-family: var(--fontRosarivo);
                font-weight: lighter;
                max-width: 500px;
                word-wrap: break-word;
            }
        }
    }

    .formulario {
        background-color: transparent;
        backdrop-filter: blur(10px);
        border: 1px solid #ffffff17;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: fixed;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        border-radius: 10px;
        z-index: 11;
        transition: 0.3s ease-in-out;

        ::selection {
            background-color: #ffffff0c;
            color: #dbdbdb;
        }

        input,
        textarea {
            background-color: transparent;
            color: #ffffffe7;
            border-radius: 10px;
            border: 1px solid #dbdbdb3f;
            padding-left: 10px;
            outline: none;
            font-family: var(--fontInter);
        }

        input {
            height: 40px;
        }

        textarea {
            width: 270px;
            height: 100px;
            padding: 10px;
        }

        button {
            background-color: #0000003f;
            border: 1px solid #242424;
            border-radius: 10px;
            cursor: pointer;
            color: #fff;
            padding: 10px;
            font-family: var(--fontInter);
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s ease-in-out;

            svg path {
                transform: translateX(-10px);
                opacity: 0;
                transition: 0.2s ease-in-out;
            }

            &:hover {
                background-color: #000000;
                border-color: #000;
            }
        }

        button:hover svg path {
            transform: translateX(3px);
            opacity: 1;
        }
    }
}

/* serviços */
.servicos {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;

    .serv-blur {
        width: 250px;
        height: 250px;
        background: #6b6b6b8c;
        filter: blur(150px);
        box-shadow: 0 0 10px #6B6B6B;
        border-radius: 50%;
        position: absolute;
        top: -20%;
        right: -15%;
    }

    .serv-content {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px 0;
        position: relative;

        .serv-title {
            h2 {
                font-size: 2.8rem;
                font-family: var(--fontPoppins);
                position: relative;
                text-transform: uppercase;
                gap: 20px;

                span {
                    position: relative;
                }

                span::before {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: #626262;
                    position: absolute;
                    bottom: 5px;
                }
            }
        }

        .serv-box {
            display: flex;
            align-items: center;
            gap: 50px;
            margin-top: 80px;
            flex-wrap: wrap;

            .box {
                border: 1px solid #8C8C8C;
                border-radius: 25px;
                padding: 50px 30px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                max-width: 400px;
                position: relative;
                overflow: hidden;
                transition: transform 0.2s ease-in-out;

                &:hover {
                    background: #7c7c7c07;
                    transform: scale(1.02);
                }

                .box-blur {
                    width: 100px;
                    height: 100px;
                    background: #6b6b6b8c;
                    filter: blur(200px);
                    box-shadow: 0 0 10px #6B6B6B;
                    border-radius: 50%;
                    position: absolute;
                    top: 30px;
                    right: 20px;
                    z-index: 1;
                }

                .box-top {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;

                    svg {
                        background-color: #fff;
                        padding: 10px;
                        border-radius: 50px;
                    }

                    h3 {
                        font-size: 1.8rem;
                        font-family: var(--fontPoppins);
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }

                .box-line {
                    width: 120px;
                    height: 2px;
                    background-color: #626262;
                }

                p {
                    font-family: var(--fontInter);
                    font-size: 1.3rem;
                    color: #ffffffb4;
                    font-weight: lighter;

                    strong {
                        font-weight: 600;
                    }
                }
            }
        }

        .serv-link {
            font-size: 1.3rem;
            font-family: var(--fontInter);

            a {
                display: flex;
                align-items: center;
                margin-top: 70px;

                &:hover {
                    color: #ffffffe1;
                }

                svg path {
                    opacity: 0;
                    transform: translateX(-10px);
                    transition: 0.2s ease-in-out;
                }
            }

            a:hover svg path {
                opacity: 1;
                transform: translate(0);
            }
        }

        .divisor {
            img {
                position: absolute;
                bottom: -100px;
                left: 50%;
                transform: translate(-50%, 0%);
                width: 1800px;
            }
        }
    }
}

/* mask */
.mask {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.877) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 10;
}


/* keyframes */
@keyframes btn-animateColor {
    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}